[user]
	name = Rafikooo
	email = thecrazyrafik@gmail.com
	signingkey = 4A26D8327BC2442B
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
	remlist = remote -v
	remadd = remote add
	d = diff
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[commit]
	gpgsign = true
[pull]
	ff = only
[init]
	defaultBranch = master
[gpg]
	program = gpg
[credential]
	helper = store
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	hooksPath = ~/.git-hooks
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = true
