# Git
alias ga='git add .'
alias gs='git status'
alias gc='git commit -m'
alias gcam='git commit --amend --no-edit'
alias gcame='git commit --amend'
alias gstash='git stash'
alias gsp='git stash pop'
alias gres='git restore'
alias gpu='git pull upstream $(git_current_branch)'
alias geforce='git push origin $(git_current_branch) --force-with-lease'
alias unwip='git reset HEAD~1'
alias gpc='gh pr checkout'

# Symfony / PHP
alias s='symfony'
alias c='composer'
alias cs='composer show'
alias p='symfony console'
alias ssd='symfony serve -d'
alias ssl='symfony server:list'
alias crld='rm -fr var/cache && symfony console'
alias crldd='rm -fr var/cache/dev && symfony console'
alias crldt='rm -fr var/cache/test && APP_ENV=test symfony console'

# Testing
alias b='vendor/bin/behat'
alias ba='vendor/bin/behat --suite-tags=api'
alias bu='vendor/bin/behat --suite-tags=ui'
alias unit='vendor/bin/phpunit --testdox'
alias stan='vendor/bin/phpstan analyse'
alias ecs='XDEBUG_MODE=off vendor/bin/ecs check --fix'

# Docker
alias d='docker'
alias dc='docker compose'
alias dcomposer='docker compose exec php composer'

# Utils
alias reload='source ~/.zshrc'
alias idea='echo .idea >> .git/info/exclude'
alias screenshot='adb -s $(adb devices | grep "device$" | head -1 | cut -f1) exec-out screencap -p > /tmp/s.png && osascript -e "set the clipboard to (read \"/tmp/s.png\" as JPEG picture)"'

# iTerm window/tab naming
n() { echo -ne "\033]0;$1\007"; }

# Utils - count lines/occurrences
alias countlines='wc -l'
alias count='wc -l'

# File browsing (fzf + bat + yazi + lazygit)
alias f='fzf --preview "bat --color=always --style=numbers {}" --bind "enter:become(vim {})"'
alias sg='rg --line-number --color=always . | fzf --ansi --delimiter ":" --preview "bat --color=always {1} --highlight-line {2} --line-range {2}:" --bind "enter:become(vim {1} +{2})"'
alias y='yazi'
alias lg='lazygit'
