# Git
wip() {
    git add .
    git commit -m "WIP"
}

gcrb() {
    [[ -z "$1" ]] && { echo "Commit hash missing"; return 1; }

    git commit --fixup=$1

    local stash_created=0
    if [[ -n "$(git status --porcelain)" ]]; then
        git stash push --keep-index -m "Stashing changes before rebase"
        stash_created=1
    fi

    GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash $1^

    [[ "$stash_created" -eq 1 ]] && git stash pop
}

tagandrelease() {
    git tag -a "$1" -m "$1" && git push upstream "$1" && gh release create "$1" --generate-notes
}

untagandunrelease() {
    gh release delete "$1" --yes && git push upstream --delete "$1" && git tag -d "$1"
}

glb() {
    local branch
    branch=$(git lb | fzf --ansi --height 20 --reverse | awk '{print $NF}')
    [[ -n "$branch" ]] && git checkout "$branch"
}

# Symfony
ss() {
    APP_ENV=${1:-dev} symfony serve -d
}

sss() {
    symfony server:stop
}

cc() {
    if [[ -d "var" ]]; then
        rm -fr var/cache
        php -dxdebug.mode=off symfony console
    elif [[ -d "tests/Application" ]]; then
        cd tests/Application && rm -fr var/cache && symfony console
    else
        echo "Wrong directory"
    fi
}

dbc() {
    rm -fr private/invoices/*
    bin/console doctrine:database:drop --force --if-exists
    bin/console doctrine:database:create
    bin/console doctrine:migrations:migrate -n
    bin/console sylius:fixtures:load $1 -n
}

dbct() {
    bin/console doctrine:database:create --if-not-exists --env=test
    bin/console doctrine:schema:update --force --env=test
}

# Yarn
uberyarn() {
    rm -fr node_modules/.cache public/build
    yarn install
    yarn build
}

# Reset project
cofankolite() {
    git restore --staged .
    git restore .
    git clean -fd
}

cofanko() {
    cofankolite
    composer update
    bin/console doctrine:database:drop --if-exists --force
    bin/console doctrine:database:create --if-not-exists
    bin/console doctrine:migrations:migrate -n
}

# Xdebug
phpstorm() {
    export XDEBUG_SESSION_START=phpstorm
    export XDEBUG_CONFIG="idkey=PHPSTORM"
    export XDEBUG_SESSION=xdebug_is_great
}
