format = """
$directory\
$git_branch\
$git_status\
$php\
$nodejs\
$python\
$docker_context\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = false

[git_branch]
symbol = " "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[php]
symbol = " "
format = "[$symbol$version]($style) "

[nodejs]
symbol = " "
format = "[$symbol$version]($style) "

[python]
symbol = " "
format = "[$symbol$version]($style) "

[docker_context]
symbol = " "
format = "[$symbol$context]($style) "

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
